'menu': [
  {
    'label': 'Packages'
    'submenu': [
      'label': 'Select Uncommented'
      'submenu': [
        { 'label': 'Select', 'command': 'select-uncommented:select' }
      ]
    ]
  }
]
